html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 450px;
    height: 20px;
    font-size: 16px;
    border-radius: 5px;
}

button {
    width: 100px;
    height: 28px;
    background-color: black;
    color: white;
    border-color: white;
    margin-left: 10px;
    border-radius: 5px;
}

#messages {
    width: 800px;
}